/* header, .project:not(:last-child) {
  border-bottom: 1px solid #ccc;
}

.no-button {
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
  color: #1b89bc;
  text-decoration: none;
  font-size: 100%;
}

.no-button:hover {
  color: #065b83;
  text-decoration: underline;
}

.dollar-amount {
  color: #056605;
  font-weight: bold;
  margin-left: -5px;
} */
/* homepage experiment BELOW */



/* /* #background-image  {
    /* width: 100px;
    height: 100px; */
    /* background: red;
    position: relative;
    animation-name: mymove;
    animation-duration: 5s;
  } */
  
  /* @keyframes mymove {
    from {bottom: 0px;}
    to {top: 200px;}
  } */ 

  /* #background-image {
    transition: all 0.8s ease;
    /* background: red; */
    /* margin-top: 300px;
    margin-bottom: 300px;
  }
  #background-image:hover {
    /* background: green; */
    /* margin-top: 10px;
    margin-bottom: 10px;
  }  */
   .box{ 
    width: 100%;
    height: 50%;            
    position: absolute;
    top: 0;
    left: 0;
    animation-name: intro-b;
    animation-duration: 3s;
    animation-fill-mode: forwards;
    animation-delay: 2s;
    
}
@keyframes intro-b {
    from {top: 0px;}
    to {top: -350px;}
    } 

.box-two{
    width: 100%;
    height: 50%;            
    position: absolute;
    bottom: 0px;
    left: 0;
    animation-name: intro-a;
    animation-duration: 2s;
    animation-fill-mode: forwards;
    animation-delay: 2s;
}

@keyframes intro-a {
from {bottom: 0px;}
to {bottom: -100px;} 
}     

#nav {
  position: relative;
  z-index:10;
}
#title {
/* bottom: 200px;
position: absolute;
top: 400px; */
margin-bottom: 40%;
font-family: 'Bungee Shade', cursive;  
color: #fff;
animation: pulsate 0.11s ease-in-out infinite alternate; 
}

/* font-family: 'Codystar', cursive; */
/* font-family: 'Fascinate Inline', cursive; */
/* font-family: 'Monofett', cursive;  
font-family: 'Limelight', cursive; 
/* font-family: 'Bungee Outline', cursive;  */

@keyframes pulsate {
  100% {
    /* Larger blur radius */
    text-shadow:
      0 0 4px #fff,
      0 0 11px #fff,
      0 0 19px #fff,
      0 0 40px #0fa,
      0 0 80px #0fa,
      0 0 90px #0fa,
      0 0 100px #0fa,
      0 0 150px #0fa;
  }
 0% {
    /* A slightly smaller blur radius */
    text-shadow:
      0 0 4px #fff,
      0 0 10px #fff,
      0 0 18px #fff,
      0 0 38px #0fa,
      0 0 73px #0fa,
      0 0 80px #0fa,
      0 0 94px #0fa,
      0 0 140px #0fa;
  }
}






h1 {
  font-size: 7rem;
  bottom: 100px;
}







      table {
        border-collapse: collapse;
        border-spacing: 0;
        width: 100%;
        border: 0px solid #ddd;
    }
      
    th,
    td {
        text-align: left;
        padding: 8px;
    }

    /* width */        
    ::-webkit-scrollbar {
        width: 10px;
    }

    /* Track */
    ::-webkit-scrollbar-track {
        background: #f1f1f1;
    }

    /* Handle */
    ::-webkit-scrollbar-thumb {
        background: #888;
    }

    /* Handle on hover */
    ::-webkit-scrollbar-thumb:hover {
        background: #555;
    }
      
    .scroll {
        display: block;
        border: 0px solid red;
        padding: 5px;
        margin-top: 5px;
        width: 500px;
        height: 400px;
        overflow-y: scroll;
    }


    