/* header, .project:not(:last-child) {
  border-bottom: 1px solid #ccc;
}

.no-button {
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
  color: #1b89bc;
  text-decoration: none;
  font-size: 100%;
}

.no-button:hover {
  color: #065b83;
  text-decoration: underline;
}

.dollar-amount {
  color: #056605;
  font-weight: bold;
  margin-left: -5px;
} */
/* homepage experiment BELOW */



/* /* #background-image  {
    /* width: 100px;
    height: 100px; */
    /* background: red;
    position: relative;
    animation-name: mymove;
    animation-duration: 5s;
  } */
  
  /* @keyframes mymove {
    from {bottom: 0px;}
    to {top: 200px;}
  } */ 

  /* #background-image {
    transition: all 0.8s ease;
    /* background: red; */
    /* margin-top: 300px;
    margin-bottom: 300px;
  }
  #background-image:hover {
    /* background: green; */
    /* margin-top: 10px;
    margin-bottom: 10px;
  }  */
   .box{ 
    width: 100%;
    height: 50%;            
    position: absolute;
    top: 0;
    left: 0;
    animation-name: intro-b;
    animation-duration: 8s;
    animation-fill-mode: forwards;
    
}
@keyframes intro-b {
    from {top: 0px;}
    to {top: -350px;}
    } 

.box-two{
    width: 100%;
    height: 50%;            
    position: absolute;
    bottom: 0px;
    left: 0;
    animation-name: intro-a;
    animation-duration: 7s;
    animation-fill-mode: forwards;
}

@keyframes intro-a {
from {bottom: 0px;}
to {bottom: -100px;} 
}     

#nav {
  position: relative;
  z-index:10;
}
#title {
bottom: 100px;
position: absolute;
top: 300px;
color: white;
font-family: 'Bungee Shade', cursive;
/* font-family: 'Limelight', cursive; 
font-family: 'Codystar', cursive;
font-family: 'Fascinate Inline', cursive;
font-family: 'Monofett', cursive;  */
}
